In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame ( {"Fruit" : [ "Apple","Grapes","Apple","Grapes","Gauva", "Gauva","Berry","Berry","Mango"],
"Color" : ["Red","Green","Green", "Black","Green","Red","Black","Red","Yellow"],
"Cost" : [50,70,80,50,65,70,80,90,100]} )
df

    Fruit   Color  Cost
0   Apple     Red    50
1  Grapes   Green    70
2   Apple   Green    80
3  Grapes   Black    50
4   Gauva   Green    65
5   Gauva     Red    70
6   Berry   Black    80
7   Berry     Red    90
8   Mango  Yellow   100

In [5]:
for column in df:
    print (column)

8
8
8

In [6]:
for index in df.index:
    print(index)

0
1
2
3
4
5
6
7
8

In [9]:
for index,values in df.iterrows():
    print( index, values,sep="\n")
    print()

0
Fruit    Apple
Color      Red
Cost        50
Name: 0, dtype: object

1
Fruit    Grapes
Color     Green
Cost         70
Name: 1, dtype: object

2
Fruit    Apple
Color    Green
Cost        80
Name: 2, dtype: object

3
Fruit    Grapes
Color     Black
Cost         50
Name: 3, dtype: object

4
Fruit    Gauva
Color    Green
Cost        65
Name: 4, dtype: object

5
Fruit    Gauva
Color      Red
Cost        70
Name: 5, dtype: object

6
Fruit    Berry
Color    Black
Cost        80
Name: 6, dtype: object

7
Fruit    Berry
Color      Red
Cost        90
Name: 7, dtype: object

8
Fruit     Mango
Color    Yellow
Cost        100
Name: 8, dtype: object

In [13]:
for index,values in df.iterrows():
    print( index, values[["Color", "Cost"]],sep=" : ")
    print()

0 : Color    Red
Cost      50
Name: 0, dtype: object

1 : Color    Green
Cost        70
Name: 1, dtype: object

2 : Color    Green
Cost        80
Name: 2, dtype: object

3 : Color    Black
Cost        50
Name: 3, dtype: object

4 : Color    Green
Cost        65
Name: 4, dtype: object

5 : Color    Red
Cost      70
Name: 5, dtype: object

6 : Color    Black
Cost        80
Name: 6, dtype: object

7 : Color    Red
Cost      90
Name: 7, dtype: object

8 : Color    Yellow
Cost        100
Name: 8, dtype: object

In [23]:
for index,values in df.iterrows():
    print( index,values["Color"],values["Color"][0] ,sep=" : ")
    print()

0 : Red : R

1 : Green : G

2 : Green : G

3 : Black : B

4 : Green : G

5 : Red : R

6 : Black : B

7 : Red : R

8 : Yellow : Y

In [24]:
for col in df["Color"]:
    print(col)

Red
Green
Green
Black
Green
Red
Black
Red
Yellow