# Tuples
- Sequence of mixed data
- Stores elements in indexed order
- enclosed in()
-  first element is placed at index location "0"
- They are Immutable

##### Tuples of integer

In [1]:
t = (1,2,34,5)
print( type(t) )

<class 'tuple'>

##### Mixed Tuples

In [4]:
a = ( " chennai", "d",2,4, "**")
print ( type(a) )

<class 'tuple'>

##### Single Value Tuple

In [8]:
s_t = (2,)  # " , " is a must . Else it will consider it just as a parenthesis
print( type(s_t) )

st=(3)
print( type(st) )

s=("d")
print( type(s) )

<class 'tuple'>
<class 'int'>
<class 'str'>

##### Empty Tuple

In [8]:
empty_tuble = ()
empty_tuble = tuple()
print(empty_tuble)

()

###### Converting tuble

In [17]:
#String to tuple

str1="Swetha"
tuple_str = tuple(str1)
print(tuple_str)

#tuple to str

tup=(1,3,4)
#print( str (tup) )

('S', 'w', 'e', 't', 'h', 'a')

##### Splicing & Indexeing

In [20]:

tup = ( 1,2,3,7,4)

tup2 = tup[ 0 : 3 ] + (100, ) + tup [3: ]

print(tup2)

(1, 2, 3, 100, 7, 4)

In [23]:
#Len

print (len (tup) )

5
(4, 7, 3, 2, 1)

In [24]:
#Reverse

print(tup[::-1])

print ( tuple (reversed(tup) ) )  

#We will get object of reversed tuple. Then we are converting into tuple

(4, 7, 3, 2, 1)
(4, 7, 3, 2, 1)

In [37]:
#MIN & MAX

tup_int = ( 1,2,-3,69)

print(min(tup_int))
print(max(tup_int))


tup_str= ("s", "Y", "M", "A", "w")
print(min(tup_str))
print(max(tup_str))

tup_str2= ("sd", "gataki", "AZ", "siuiu", "UEUEFH","Al")
print(min(tup_str2))
print(max(tup_str2))

#NOT SUPPORTED 
    #tup_mixed = (1, "hj", 99 , "GH")
    #print(min(tup_mixed))
    #print(max(tup_mixed))

-3
69
A
w
AZ
siuiu

In [40]:
#sum

tup = (1,3,5,7)
print(sum(tup))


#Not Supported
    #tup2=("sd", "R")
    #printt(sum(tup2))

16

In [53]:
#sort
    # It will return list
    # Same sequence
    
tup_int = ( 1,2,-3,69)

print(sorted(tup_int))


tup_str= ("s", "Y", "M", "A", "w")
print(sorted(tup_str))


tup_str2= ("sd", "gataki", "AZ", "siuiu", "UEUEFH","Al", "zzzyfd")
print(sorted(tup_str2))

#Not Supported
    #tup_mixed = (1, "hj", 99 , "GH")
    #print(sorted(tup_mixed))

[-3, 1, 2, 69]
['A', 'M', 'Y', 's', 'w']
['AZ', 'Al', 'UEUEFH', 'gataki', 'sd', 'siuiu', 'zzzyfd']

In [56]:
#Sort 

#Tubles to List
#String to List

sorted("Chennai")

#Now List to String

"".join (sorted("Chennai"))

'Caehinn'

##### Sting Tuples

In [5]:
tup_str = ("Chennai" , "beach", "visit", "sum", "hi" ," type")

print(tup_str, type(tup_str))
print( tup_str[0] , type(tup_str[0]))
print( tup_str[0 : 4 ]  , type (tup_str[0:4] ))
print(tup_str [ 0:1 ] , type(tup_str [ 0:1 ]))

('Chennai', 'beach', 'visit', 'sum', 'hi', ' type') <class 'tuple'>
Chennai <class 'str'>
('Chennai', 'beach', 'visit', 'sum') <class 'tuple'>
('Chennai',) <class 'tuple'>

In [61]:
#COUNT & INDEX
tup_int = ( 1,5,2,-3,69,5,3,6,5,5)
print (tup_int.count(5))
print (tup_int.index(5))
#tup_str = ("Chennai" , "beach", "visit", "sum", "hi" ," type","beach", "visit", "sum")
#print (tup_int.count("beach"))

4
1
0

##### Tuples within tuples

In [72]:
tup = (1,2,"abc",(2,4,7))

print( len (tup))

print( tup[-1])

print( tup[-1][1] )

print( tup [-1][0:2]) #slicing

print( tup [-2][:2], type (tup [-2][:2]  )) #slicing a string sequence

4
(2, 4, 7)
4
(2, 4)
ab <class 'str'>

In [12]:
#Repeatation
tup=(1,2,3)
print (tup*4)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [82]:
#List with Tuble

tup =(1,"i", [1,4],(68,9))
print (type(tup), tup)

<class 'tuple'> (1, 'i', [1, 4], (68, 9))

### Membership Operator
- Membership operators are operators used to validate the membership of a value. 
- It test for membership in a sequence, such as strings, lists, or tuples.

In [11]:
string="banglore"
print( "x" in string)
print( "x" not in string)

#tuple

tup=(1,2,3)
print( 4 not in tup)
print( 1  in tup)

False
True
True
True

# List

- Stores sequence of mixed data
- enclosed in [] and comma seprated
- Indexed order, first index is 0
- Forward & Reverse Indexing , Slicing 
- They are mutable
- To handle structured data
- Cannot subtract and divide 
- Can do addition and multiplication

In [13]:
lis = [ 1, 2, 3, 4]
print(type(lis))

<class 'list'>

In [16]:
print( " Len ",len (lis))
print ( lis[1])

 Len  4
2

#### Conversion

In [25]:
#string to List
var1 = "Chennai"
list1=list(var1)
print(list1)

#List to Tuple
tup1=tuple(list1)
print(tup1)

#Reverse
print(list(reversed(list1)))

['C', 'h', 'e', 'n', 'n', 'a', 'i']
['C', 'h', 'e', 'n', 'n', 'a', 'i']
('C', 'h', 'e', 'n', 'n', 'a', 'i')
['i', 'a', 'n', 'n', 'e', 'h', 'C']

- Repeatation
- Membership
- Concatination
- Reversed
- Join
- Max, Min, Sum, Sorted

WAP to create a list of 5 close friends and sort their name in descending

In [27]:
friends = ["Anu", "Swetha" ,"Christy","Kayal","Gokhila"]

#Type 1
print ( list(reversed(sorted(friends))))

#Type
print( sorted (friends ,reverse =True))    #  Reverse is parameter of Sorted

['Swetha', 'Kayal', 'Gokhila', 'Christy', 'Anu']
['Swetha', 'Kayal', 'Gokhila', 'Christy', 'Anu']

Sort
- Sort Method is available in List
- It can modify the originl list.Since List is mutable. But sorted cannot modify.

In [46]:
friends = ["Anu", "Swetha" ,"Christy","Kayal","Gokhila"]
friends.sort()
print(friends)
friends.reverse()
print(friends)

['Anu', 'Christy', 'Gokhila', 'Kayal', 'Swetha']
['Swetha', 'Kayal', 'Gokhila', 'Christy', 'Anu']

#### Append Values to List

In [47]:
friends.append("Mythili")
print(friends)

['Swetha', 'Kayal', 'Gokhila', 'Christy', 'Anu', 'Mythili']

#### Insert to a particular positin

In [48]:
friends.insert(5,"Nive")
print(friends)

['Swetha', 'Kayal', 'Gokhila', 'Christy', 'Anu', 'Nive', 'Mythili']

In [69]:
friends = ["Anu", "Swetha" ,"Christy","Kayal","Gokhila"]

friends.append([1,2,3])
print(friends)

friends.append((1,2,3))
print(friends)

['Anu', 'Swetha', 'Christy', 'Kayal', 'Gokhila', [1, 2, 3]]
['Anu', 'Swetha', 'Christy', 'Kayal', 'Gokhila', [1, 2, 3], (1, 2, 3)]

#### Extend

In [64]:
friends.extend([1,2,3])
print(friends)

friends.extend((1,2,3))
print(friends)

friends.extend("Mythili")
print(friends)

['Anu', 'Swetha', 'Christy', 'Kayal', 'Gokhila', [1, 2, 3], (1, 2, 3), 1, 2, 3]
['Anu', 'Swetha', 'Christy', 'Kayal', 'Gokhila', [1, 2, 3], (1, 2, 3), 1, 2, 3, 1, 2, 3]
['Anu', 'Swetha', 'Christy', 'Kayal', 'Gokhila', [1, 2, 3], (1, 2, 3), 1, 2, 3, 1, 2, 3, 'M', 'y', 't', 'h', 'i', 'l', 'i']

#### Clear & Delete& Pop

In [80]:
friends = ["Anu", "Swetha" ,"Christy","Kayal","Gokhila"]
print(friends)

friends.clear()
print(friends)

friends = ["Anu", "Swetha" ,"Christy","Kayal","Gokhila"]
del friends[-1]
print(friends)

print (friends.pop(1) ) # to display and delete from list
print (friends)

friends.remove("Anu")
print (friends)

del friends

#friends

['Anu', 'Swetha', 'Christy', 'Kayal', 'Gokhila']
[]
['Anu', 'Swetha', 'Christy', 'Kayal']
Swetha
['Anu', 'Christy', 'Kayal']
['Christy', 'Kayal']

# Sets

- Sequence of mixed data of immutable type
- enclosed in {}
- UnOrdered
- No indexing
- Does not allow Duplicates
- Set operations ( Union , Intersectio, Difference
- They are mutable but store immutable data

#### Empty Set

In [85]:
s= set()
print ( s, type(s))

#  s = {} # DO NOT WRITE THIS. THIS IS NOT A EMPTY SET

set() <class 'set'>

In [93]:
s={1,3,4,7,2,8,4,9}
print(len(s))
print(s)

7
{1, 2, 3, 4, 7, 8, 9}

- No Pop on basis of Index
- No Indexing
- String , Tuble, List can be converted

In [89]:
s.add(10)
print(s)

{1, 2, 3, 4, 7, 8, 9, 10}

In [94]:
list(s)
print (s)
tuple(s)
print(s)

{1, 2, 3, 4, 7, 8, 9}
{1, 2, 3, 4, 7, 8, 9}

#### Set Operations

In [95]:
l1=[1,2,39,4,5,6,23]
l2=[5,3,2,6,25,9,87,0]
s1=set(l1)
s2=set(l2)

print(s1)
print(s2)

print (s1 & s2) # common
print (s1 | s2) # union
print (s1 ^ s2)# uncommon
print (s1 - s2)# only s1 - set difference
print (s2 - s1)# only s2

{1, 2, 4, 5, 6, 39, 23}
{0, 2, 3, 5, 6, 9, 87, 25}
{2, 5, 6}
{0, 1, 2, 3, 4, 5, 6, 39, 9, 87, 23, 25}
{0, 1, 3, 4, 39, 9, 23, 87, 25}
{1, 4, 23, 39}
{0, 3, 9, 87, 25}