#### String Handling

In [ ]:
var="Afh476263@#" #sequence of characters arranged in an indexed order

##### Length

In [6]:
var="Afh476263@#"
len(var) #No. of elements in a sequennce

11

##### Forward Indexing

In [5]:
var="Afh47t263@#"
var[7]

'6'

Whenever we are indexing we will get a string of length 1

##### Reverse Indexing

In [8]:
var="Afh47t263@#"
print(var[-1]) # last elemnet

#

##### String Concatenation

In [51]:
var="Afh47t263@#"
x=var[2]+var[3]+var[4]
print(x)

h47

In [53]:
a=10
b=5
c=a+b
var = "Sum of " + str(a) + " and " + str(b) + " is " + str(c)
print(var)

Sum of 10 and 5 is 15

##### Format Method

format is a method of Sting Class

In [55]:
a=10
b=5
c=a+b
var = "Sum of {}  and {} is {}". format (a,b,c)
print(var)

Sum of 10  and 5 is 15

##### Slicing

In [24]:
var="Afh47t263@#"

#Sling Opertor - " : "
#[ S : E+1]  S - Starting index  E - Ending Index

print(var[2:5])
print( var[ -3 : ]) # Last 3  
print(var[ : 4 ]) #first 4
print(var [ 2 : ]) # from 3rd character
print(var[ : -4 ]) # from 1st till from the lst 5th
print(var[ 2: -3 ])

h47
3@#
Afh4
h47t263@#
Afh47t2
h47t26

<b> WAP to tke str as an inout and print the str by swapping the first and last character </b>

In [35]:
var=input("Enter a String: ")
res= var[-1]+var[1:-1]+var[0]  # R.I + (F,I,R.I) + F.I
print(var)
print(res)

Enter a String: howrtt7934$^*hu
howrtt7934$^*hu
uowrtt7934$^*hh

##### Step Count

https://docs.python.org/release/2.3.5/whatsnew/section-slices.html

In [82]:
# [ S: E+1: Stepcount]

var="Afh47t263@#anldnlanvlanleoqohoeh2y98219"
print(len (var))
print( var[ 0 : 15] )
print( var[ 0 : 15 : 2])  # Skips and prints
print( var[ 0 : 15 : 1])
print( var[ 0 : 15 : ])

39
Afh47t263@#anld
Ah723#nd
Afh47t263@#anld
Afh47t263@#anld

##### String Reverse

In [50]:
var="Swetha"
print(len (var))
print( var[ : ] )
print( var[ :  : -1])

6
Swetha
ahtewS

##### Print

In [60]:
f=13.32542543
s=784.25032750

print ("Type Cast Float into Int while printing:")
print ("First values : %d   Second value : %d \n" % (f,s))

print ("Printing variable as such:")
print ("First values : %f   Second value : %f \n" % (f,s))

print ("Restricting the decimal values:")
print ("First values : %0.3f   Second value : %0.2f \n" % (f,s))

Type Cast Float into Int while printing:
First values : 13   Second value : 784

Printing variable as such:
First values : 13.325425   Second value : 784.250328

Restricting the decimal values:
First values : 13.325   Second value : 784.25

### Sting Methods
- replace
- upper
- lower

<b><i>Replace </i> </b>
str.replace( , , )
Strings are immutable.  They cannot be modified

In [61]:
var= "Chennai"
var.replace ( "e", "**")

'Ch**nnai'

In [83]:

var= "i am in python clASS"

print(var)

#First Character to Caps
print(var.title())

#everything to lower
print(var.lower())

#everything to upper
print(var.upper())

#only first character of first word
print(var.capitalize())

print(var.swapcase())

i am in python clASS
I Am In Python Class
i am in python class
I AM IN PYTHON CLASS
I am in python class
I AM IN PYTHON CLass

### Boolen Methods
- islower()
- isupper()
- isdigit()
- istitle()
- isspace()
- isalpha()

In [68]:
var= "i am in python clASS"
print(var.istitle())
print(var.isalpha())

False
False

##### More Methods

In [79]:
var= " i am in python class "
print(var.count("e"))
print(var.index("y"))
print(var.lstrip())
print(var.rstrip())
print(var.strip())

0
10
i am in python class
 i am in python class
i am in python class
/n
H$* i$*  $* ,$* h$* e$* l$* l$* o
<reversed object at 0x000002614F9BF7F0>
olleh, iH

##### JOIN

In [92]:

#Join will take a sequence. Only String sequence
#Syntax : 
#      "delimter". join(Sequence)
var="Hi ,hello"
var2="$* ". join(var)

print ("/n")
print(var2)


#reversed and join
print( reversed(var))
print("".join(reversed(var)))

/n
H$* i$*  $* ,$* h$* e$* l$* l$* o
<reversed object at 0x000002614F950208>
olleh, iH

##### Split Method

Splits them as a list
Defalut delimeter is Space

In [96]:
var= "aad:4 6:adfa:as a:wae:ijei"
print(var.split())
print(var.split(":"))
print(var.split("a"))

var1="ab:bd:hi:xy"
print("\n List")
l=var1.split(":")
print(type(l))
print(l)
print(len(l))

print("Join & List(string)")
" ".join(l)

['aad:4', '6:adfa:as', 'a:wae:ijei']
['aad', '4 6', 'adfa', 'as a', 'wae', 'ijei']
['', '', 'd:4 6:', 'df', ':', 's ', ':w', 'e:ijei']

 List
<class 'list'>
['ab', 'bd', 'hi', 'xy']
4
Join & List(string)

'ab bd hi xy'

### WAP to : 
Input:  Chennai city has a beautiful beach
Outpt:  beach beautiful a has city Chennai

In [110]:
var="Chennai city has a beautiful beach"
print(" ".join( var.split() [ : : -1 ] ) )
print( " ". join (reversed(var.split() ) ) )

beach beautiful a has city Chennai
beach beautiful a has city Chennai