# Dictionary
- stores mixed data in the form of key:value pairs
- Key and value are seperated using :
- key:values are enclosed in {} and seperated by " , "
- key are unique and immutable

##### Empty Dictionary

In [1]:
d= {}
print ( d, type(d))

{} <class 'dict'>

In [5]:
d={ 101 :"Angelin" , 102: "Nive" , 104 : "Kevin"}
print (len(d))  # Length of dictionary

3

dict[key] = values

In [13]:
d={ 101 :"Angelin" , 102: "Nive" , 104 : "Kevin"}
print ( 102 , d[102] )

102 Nive

Method to identify keys:
    - dict.keys()
 All Values:
     - dict.values()

In [20]:
keys = d.keys()
print (keys, type(keys))
list1=list(keys)  # To List
print(list1)
tup1 = tuple(keys)
print(tup1) # To Tuple

dict_keys([101, 102, 104]) <class 'dict_keys'>
[101, 102, 104]
(101, 102, 104)

In [25]:
print(d.values())
print(d.items(), type (d.items())) # Returns a sequence of Tubles
print(d)

dict_values(['Angelin', 'Nive', 'Kevin'])
dict_items([(101, 'Angelin'), (102, 'Nive'), (104, 'Kevin')]) <class 'dict_items'>
{101: 'Angelin', 102: 'Nive', 104: 'Kevin'}

#### dict.fromkeys()
- Called on class name
- It can create a new dict , from the sequence we are passsing
- It will take the keys from the sequence e are passing and create a new dictionary
- Default value for ll keys in None
- We can change the default Values

In [30]:
d1=dict.fromkeys(d)
print(d1)

d2=dict.fromkeys((1,2,3))
print(d2)

d3=dict.fromkeys(("a","b","c"),10)
print(d3)

{101: None, 102: None, 104: None}
{1: None, 2: None, 3: None}
{'a': 10, 'b': 10, 'c': 10}

<b> WAP to create a dictionary consisting of  country as key and its currency as value.
Take a country name as input from user and return its currency </b>

In [32]:
d = { "India": "Rupee" , "USA": "Dollars" , "UK": "GBP"}
country=input("Enter Country: ")
print("Currency is ", d[country])

Enter Country: India
Currency is  Rupee

##### get() method
- Two parameters
- get (key) , if key does not exist returns "None"
- get (key, message) , intead of None t will return the message

In [36]:
d = { "India": "Rupee" , "USA": "Dollars" , "UK": "GBP"}
country=input("Enter Country: ")
print( d.get(country))

print( d.get(country,"Does not Exists in Dictionary"))

Enter Country: k
None
Does not Exists in Dictionary

- If a Key exits, it ill change its value
- If it does not exsits it will create a new key:value pair

In [40]:
d={ 101 :"Angelin" , 102: "Nive" , 104 : "Kevin"}
d[103]="Ammu"
d[101]="Swetha"
print (d)

d[101]=d[103]
print(d)

{101: 'Swetha', 102: 'Nive', 104: 'Kevin', 103: 'Ammu'}
{101: 'Ammu', 102: 'Nive', 104: 'Kevin', 103: 'Ammu'}

#### update(d)

- When we update a dictionary ith another dictionary, if the key exists then value gets updated .
- if it is new key then the key:value pair gets inserted

In [42]:
d1={ "India": "Rupee" , "USA": "Dollars" , "UK": "GBP", "France": "Euro", "Italy" : "Euro"}
d2={"Japan": "Yen", "Thailand": "Bath"}

d1.update(d2)
d1

{'India': 'Rupee',
 'USA': 'Dollars',
 'UK': 'GBP',
 'France': 'Euro',
 'Italy': 'Euro',
 'Japan': 'Yen',
 'Thailand': 'Bath'}

## Dictionary within Dictionary

Dictinary with R.no as keys and name,moblie number as value in the form of sub dictionary

In [48]:
d = { 101: {9965606599:"Swetha"},  102 : {9442812818 : "Nive"}}
print (d.keys())
print (d.values())
print( d[101][9965606599])

r_no=int(input("Enter Roll Number: "))
temp=d[r_no]
print(temp.values())

dict_keys([101, 102])
dict_values([{9965606599: 'Swetha'}, {9442812818: 'Nive'}])
Swetha
Enter Roll Number: 101
dict_values(['Swetha'])

In [52]:
d = { 
        101 : { "name" : "Swetha",
                      "mob" : 9965606599} , 
         102 : { "name" : "Nive" , 
                     "mob" :  9442812818  }
        }
d

{101: {'name': 'Swetha', 'mob': 9965606599},
 102: {'name': 'Nive', 'mob': 9442812818}}

In [55]:
r_no=int(input("Enter Roll Number: "))
print ( d[r_no])
#print(d[r_no]["name"])

Enter Roll Number: 102
{'name': 'Nive', 'mob': 9442812818}

# Decision making

if (cond):
    #code
else:
    #code

In [59]:
d = { 
        101 : { "name" : "Swetha",
                      "mob" : 9965606599} , 
         102 : { "name" : "Nive" , 
                     "mob" :  9442812818  }
        }
r_no=int(input("Enter Roll Number: "))

if (r_no in d.keys()):
    print ( d[r_no])
    print(d[r_no]["name"]) 
else:
    print("Invalid Roll no")
    
if r_no in d:   # It checks in Keys. Not applicable for Values
    print ( d[r_no])
    print(d[r_no]["name"]) 
else:
    print("Invalid Roll no")

Enter Roll Number: 5
Invalid Roll no
Invalid Roll no

<b> WAP tp check if num is odd or even </b>

In [63]:
num=int(input("Enter Number: "))
if(num%2==0):
    print("Even")
else:
    print("Odd")
    
if  num % 2  :
    print("Odd")
else:
    print("Even")

Enter Number: 25
Odd
Odd

<b> WAP to print largest of 3 numbers </b>

In [66]:
a=int(input("Enter Number: "))
b=int(input("Enter Number: "))
c=int(input("Enter Number: "))
if ( a > b and a > c ):
    print(a)
elif b>c:
    print(b)
else:
    print(c)

Enter Number: 4
Enter Number: 93
Enter Number: 0
93

### Modules
- Random ,Math Modules .
- Modules hold functions
- 3 ways to import them
         - import math
             math.sqrt(64)
         - import math as m
             m.sqrt(64)
         - from math import *  # Not advisable
             sqrt()

##### Random Module

In [87]:
import random as r

print ( r.randint(1,5) ) # Any number between 1 and 5

print ( r.random() ) # Any Float number between 0 and 1

print ( r.choice( ["head",'tails','flower','hi'] ) )   #Choice takes a List

1
0.9999539685706433
tails

<b> Random outcome of heads ot tails, requet user the outcome . Print Won or Lost by comparing the outcome and guess </b>

In [90]:
import random
list1=["heads",'tails']
str1= random.choice(list1 )
str2 = input ("Enter heads or tails :")

#str2=str2.lower()
#if str2=='h':
#    str2="heads"
#elif str2=='t':
 #   str2='tails'
if str2 in list1:
    if str1 ==str2:
        print("Won")
    else:
        print("Lost")
else:
    print("Invalid Input")

Enter heads or tails :ka
Invalid Input

#### 7up and 7down
- Player staerts with amount 1000
- A random number btw 1-14 is generated
- n=7 (hits jackpot of 1,00,000)
- n<7 (Losses n*100)
- n>7 (Earns n*100)
- Print the amunt at the end of the game

In [107]:
import random as r
amt=1000
n=r.randint(1,14)
if (n==7):
    amt=100000
elif (n<7):
    amt=amt-(n*100)
else:
    amt=amt+(n*100)

print(amt,n)

100000 7

Create a dict of country and currency
Accept country  and display currency
if not available then ask user if a ne entry needs to be addeds
If yes accept and add it .
If no terminate it

In [128]:
d={ "India": "Rupee" , "USA": "Dollars" , "UK": "GBP", "France": "Euro", "Italy" : "Euro", "Thailand": "Bath",}

c=input("Enter country : ")
country=c.title()
if country in d:
    print("Currency is : " , d[country])
else:
    ch = input("Country does not exists in Dictionary. Do yo want to add it ? y/ n ")
    if ch == "y":
        new_currency = input ("Enter the currency " )
        d[country] = new_currency.title()
        print("Currency of ", country , "is", d[country])

Enter country : japan
Country does not exists in Dictionary. Do yo want to add it ? y/ n y
Enter the currency yen
 Currency of  Japan is Yen

## Iteration

Continue the 7up 7down game till user doesen't quit

In [110]:
import random as r

user = "y" 
amt=1000
while user == "y" :
    n=r.randint(1,14)
    if (n==7):
        amt=100000
    elif (n<7):
        amt=amt-(n*100)
    else:
        amt=amt+(n*100)
    print(amt,n)
    user=input("Do you wan to continue? y/n : ")
    
print("Final Amount", amt,n)

1900 9
Do you wan to continue? y/n : y
2900 10
Do you wan to continue? y/n : y
2700 2
Do you wan to continue? y/n : y
2500 2
Do you wan to continue? y/n : y
3700 12
Do you wan to continue? y/n : y
3300 4
Do you wan to continue? y/n : y
3100 2
Do you wan to continue? y/n : y
4400 13
Do you wan to continue? y/n : n
Final Amount 4400 13

In [119]:
user=input("Enter a character : ")
str1="" #declaring a new string

while user != "q" :
    str1+=user
    user=input("Enter a character: ")
print(str1)

Enter a character : rkq
Enter a character: l
Enter a character: q
rkql

##### For Loop

In [133]:
colors = ['white','red', 'blue', 'green','blue','yellow', 'black']

for c in colors:
    print(c, end= ",")

white,red,blue,green,blue,yellow,black,

#### Print
 - print() has a paramter end
 - default value is \n

In [136]:
colors = ['white','red', 'blue', 'green','blue','yellow', 'black']

for c in colors:
    print(c, end= ":") # There is no new line
print("New Line 1") 
print("New Line 2")

for c in colors:
    print(c,"-", len(c) )

white:red:blue:green:blue:yellow:black:New Line 1
New Line 2
white - 5
red - 3
blue - 4
green - 5
blue - 4
yellow - 6
black - 5

#### Range()
- Range will give a sequence. It can be converrted to list,tuble or any sequence
- range (s,e+1,step count)

In [137]:
list(range(1,5))

[1, 2, 3, 4]

In [138]:
for i in range(1,4):
    print(i)

1
2
3

In [147]:
for i in range(0,5,15):
    print(i,end=" ")
print()
for i in range(1,19,15):
    print(i,end=" ")
print()
for i in range(3):  # when i use it just for counting
    print("hi")

0
1 16
hi
hi
hi

In [146]:
#Reversed Range
for i in range (5,0,-1):
    print(i)

5
4
3
2
1

###### WAP to create a list of 3 names entered by user

In [150]:
list1=list()
for i in range(3):
    str1=input("Enter name: ")
    list1.append(str1)

print(list1)

Enter name: ammu
Enter name: anu
Enter name: nive
['ammu', 'anu', 'nive']

###### WAP to accept a word and print unique vowels

In [187]:
#Method1:
str1=input("Enter name: ")

#converting to set so that we will get unique
set1=set(str1)
print(set1)
for s in set1:
    if (s=="a" or s =="e" or s=="i" or s=="o" or s=="u"):  
        print(s)

Enter name: areoplane
{'l', 'n', 'o', 'r', 'e', 'a', 'p'}
o
e
a

In [1]:
#Method 2:
str1=input("Enter name: ")
set1=set(str1)
print(set1)
for s in set1:
    if s in "aeiou":
        print(s)

Enter name: aeroplane
{'l', 'r', 'n', 'p', 'o', 'e', 'a'}
o
e
a

###### WAP to print the product of first 10 natural numbers

In [157]:
product = 1
for i in range (1,11):
    product*=i   
print (product)

3628800

#### Key()

In [172]:
names = ["'Jane", "Sam", "George", "Mary", "Marias"]
names.sort(key = len)
names

['Sam', 'Mary', "'Jane", 'George', 'Marias']

In [173]:
names = ["'Jane", "Sam", "Mary", "Marias", "George"]
names.sort(key = len)
names

['Sam', 'Mary', "'Jane", 'Marias', 'George']

In [174]:
names = ["'Jane", "Sam", "Mary", "Marias", "George"]
max(names, key = len)

'Marias'

In [175]:
names = ["'Jane", "Sam", "Mary", "George", "Marias"]
max(names, key = len)

'George'

###### Sort the below list on basis of sum of tuple inside the list

In [181]:
l=[ (1,2,3) , (4,5) , (2,3) ,(1,7)]
l.sort () 
print(l)

l.sort (key = sum )
print (l)

l.sort (key = sum , reverse = True )
print (l)

[(1, 2, 3), (1, 7), (2, 3), (4, 5)]
[(2, 3), (1, 2, 3), (1, 7), (4, 5)]
[(4, 5), (1, 7), (1, 2, 3), (2, 3)]