# Comprehensions

- Sequences - Loops
- Data Structure - when you store data in them
- Writing a for loop within a list - list comprehension

##### list of squares of first 10 nautral number

In [1]:
list1=[]
i=1
for i in range ( 1, 11):
    list1.append(i*i)
print(list1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
# functional /comprehensional method
list1 = [ i**2 for i in range ( 1, 11)]
print(list1)


set1 = { i**2 for i in range ( 1, 11)}
print(set1)

tup1 = ( i**2 for i in range ( 1, 11))
print (tup1)
print(tuple (tup1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
<generator object <genexpr> at 0x000001B7B58B4F48>
(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

## Dictionary Comprehension:

In [81]:
l1 = [ 'ammu' ,'nive', 'kevin']
d = { i : len(i) for i in l1}
print (d)

{'ammu': 4, 'nive': 4, 'kevin': 5}

##### List of length of each element of the list

In [8]:
l1 = [ 'ammu' ,'nive', 'kevin']
l2 = [ len (i) for i in l1]
print (l2)

[4, 4, 5]

##### All even numbers in a list

In [24]:
l1= [ 1,2,3,4,5,6,7,8,9,10]
l2 = [ i for i in l1 if not i%2 ]
print ( l2)

[2, 4, 6, 8, 10]

##### from number 1 to 50 skipping multiples of 3

In [27]:
l = [ i for i in range (1,51) if i % 3 ]
print(l)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50]

##### A Sequence of square of odd numbers from range 1 to 10

In [29]:
l = [ i**2 for i in range (1,11) if i % 2 ]
print(l)

[1, 9, 25, 49, 81]

##### list with numbers which are diisible by 5 and 7

In [22]:
list1 = [ 10 ,12,24,35,70,88,120,155,140,27]
list2 = [ i for i in list1 if i%5==0 and i % 7 ==0]
print (list2)

[35, 70, 140]

##### specifiying the element is even or odd

In [33]:
#if else syntax in 1 line
#check even or dd
x=10
outcome = "ODD" if x %2 else "EVEN"
print ( outcome, type (outcome ))

EVEN <class 'str'>

In [8]:
list1 = [ 10 ,12,24,35,70,88,120,155,140,27]
list2 = [  "ODD" if x %2 else "EVEN" for x in list1 ]
print (list2)
list3= ["odd" for i in list1 if i%2]
print(list3)
dict1= {i: "odd" for i in list1 if i%2 }
print(dict1)
dict2= {i: "odd" if i%2 else "even" for i in list1 }
print(dict2)

['EVEN', 'EVEN', 'EVEN', 'ODD', 'EVEN', 'EVEN', 'EVEN', 'ODD', 'EVEN', 'ODD']
['odd', 'odd', 'odd']
{35: 'odd', 155: 'odd', 27: 'odd'}
{10: 'even', 12: 'even', 24: 'even', 35: 'odd', 70: 'even', 88: 'even', 120: 'even', 155: 'odd', 140: 'even', 27: 'odd'}

##### Dictinary Comprehension : If - Else

In [99]:
list1 = [ 10 ,12,24,35,70,88,120,155,140,27]
d ={ x : ("ODD" if (x % 2) else "EVEN" ) for x in list1   }
print (d)

{10: 'EVEN', 12: 'EVEN', 24: 'EVEN', 35: 'ODD', 70: 'EVEN', 88: 'EVEN', 120: 'EVEN', 155: 'ODD', 140: 'EVEN', 27: 'ODD'}

In [36]:
list1 = [ 10 ,12,24,35,70,88,120,155,140,27]

list2 = [  x if x %2 else "EVEN" for x in list1 ]

print (list2)

['EVEN', 'EVEN', 'EVEN', 35, 'EVEN', 'EVEN', 'EVEN', 155, 'EVEN', 27]

##### sum of all multi[le of 3 and 5 belo 1000

In [70]:
l = [ i for i in range(1001) if i %3 ==0 or i%5 ==0]
print(sum(l))

234168

##### Input : I am in Python Class  Output : I ma ni nohtyP ssalC

In [98]:
# Method 1 :
mystr= "I am in Python Class"
list1  = mystr.split(" ")
rev_str="" 
for l in list1:
    rev.join(l[::-1])
    rev_str=rev_str + l[::-1] + " " 
print (rev_str)

I ma ni nohtyP ssalC

In [95]:
#Method 2:
mystr= "I am in Python Class"
list1  = mystr.split(" ")
list2 =  [ l[::-1] for l in list1]
rev_str = " ".join(list2)
print (rev_str)

I ma ni nohtyP ssalC

In [97]:
#Method 3
mystr= "I am in Python Class"
new_str = " ". join ( [ l[::-1] for l in list1] )
print (new_str)

I ma ni nohtyP ssalC