# Function

def < functiion_name> ( parameters ) :
    #CODE

- user defined
- built in
- lambda / one liner/ anonymous
- Recursion

#### Examples

In [ ]:
def add( a, b):
    if a.__class__ == int and b.__class__ == int:
        return int(a) + int (b)
    else:
        return "Invalid Input . Not Integer"


#Main 
n1= input()
n2 =input()
x=add(n1,n2)
print(x)
y=add("hi", "hi")
print(y)

z=add(5,7)
print(z)

In [ ]:
a=5
print (type (a))

#### Arguments

- Required
- Keyword
- Default
- Variable Length

In [ ]:
def add(a,b):
    return a+b

print (add(7,8))

In [ ]:
print( add (9))

#### eg :
    
    sorted(seq,key,reverse):
      Seq - Must be in that position
      Key ,Revese - Optional
      key ,reverse are keyword arguments
      keyword should come at last

#### Keyword

In [ ]:
def printme (name,age):
    print ("name:" , name)
    print ("age :", age)

printme(age =9 ,name="kevin")

In [ ]:
def printme (name,age,mob):
    print ("name:" , name)
    print ("age :", age)
    print ("mob :", mob)
printme("kevin",mob= 996563, age =9 ) 

#printme( mob=9965, 5, name= "nive" )  # positional argument follows keyword argument
#printme(age =9 ,name="kevin", 996563)  #--- Wrong : positional argument follows keyword argument
#printme(996563,age =9 ,name="kevin")  # -- got multiple values for argument 'name'

#### Default

- If value is not passed , it will take default
- eg:
     - end , sep , reverse
- Required must come first

In [ ]:
def add( a,b= 30):
    return a+b
add(5)

#### Documentation of existing function

In [ ]:
help (sorted)

In [2]:
help (sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [ ]:
sum([1,3,5])

In [1]:
sum([1,3,5],100)

109

In [ ]:
help(print)

### Variable  Length Arguments

- *args : Tuple
     - eg :
        - print
- **kwargs
    - Allways  keyword argument
    - Dictionary
- (Positional , * , default , **)

In [ ]:
def all(*args):
    print (args)
all(5,6,8,"k","fyuk",[9,8])

def add(*args):
    return sum (args)
add(9,7,0)

In [ ]:
def func( a, *args, b=30):
    print (a)
    print (*args)
    print(b)
    
func(1,2,3,4, b= 9)
func(1,2,3,4)

In [3]:
#**kwargs

def all(*args, **kwargs):
    print (args)
    print (kwargs)

all (1, 2, 3, 4, a=10, b=45)

(1, 2, 3, 4)
{'a': 10, 'b': 45}

In [4]:
def all(b, *args, d=9, **kwargs):
    print( b)
    print (args)
    print (d)
    print (kwargs)
    

all (1, 2, 3, 4, c=8,a=10)

1
(2, 3, 4)
9
{'c': 8, 'a': 10}

##### Calculate Factorial

In [5]:
def factorial(n):
    fact=1
    for i in range (1,n+1):
        fact*=i
    return fact

print (factorial ( 4))

24

#### Multiple value as parameter and  product of integer

In [8]:
def prod(*args):
    p=1
    for i in args:
        if i.__class__ == int :
            p*=i
    return p

print (prod(3,8,3,"k", "%jk", 7))

504

# Scope of Variable

- Global
- Local
- In built

In [15]:
def fun1(n):
    a=5
    print (n * a)    # n, a are Local
    
def fun2 (n):
    b=4   # b is local of func2
    print ( n* b)   
        
def fun3 (n):
    global b
    b=17  # In this case it is using global b
    print ( n* b)   
    
b=8     # b is global

fun1 (2)
fun2 (2)
fun3 (2)

print (b)

10
8
34
17

# Built In Functions

### Zip

In [22]:
# 2 or n  diff list  . Iterate at the same time
a = [1, 2,3]
b = ['a', 'b', 'c']
c = ("hi", "hello" ," bye")
print (list (zip (a,b,c)))

a = [1, 3]   # Takes sequence with minimum lenght
b = { 101:'a', 104:  'b', 109:  'c'}   # Takes only Keys from Dictionary
c = ("hi", "hello" ," bye")
print (list (zip (a,b,c)))   # Gives a seuqnce of Tubles

[(1, 'a', 'hi'), (2, 'b', 'hello'), (3, 'c', ' bye')]
[(1, 101, 'hi'), (3, 104, 'hello')]

In [35]:
a = [1, 2,3]
b = ['a', 'b', 'c']
print (list (zip (a,b)))


for i in zip(a,b):
    x=0
    for x in len(i):
        print (i[x], end =" -")
        x+=1
    print(" ")

[(1, 'a'), (2, 'b'), (3, 'c')]

TypeError: 'int' object is not iterable

### Power

In [37]:
x = pow (4,3)
print(x)

y = pow (4,3,5)
print (( 4**3) %5)
print(y)

64
4
4

### Iter

- object of iterator
- can be used using next()

In [39]:
x = iter ( [ "abc" , "def" , "lmn" ])
print(next(x))
print(next(x))
print(next(x))
# print(next(x))  --> StopIteration:

abc
def
lmn

## Lambda

In [40]:
#sum of two numbers

lambda x,y : x+y
y = lambda x,y : x+y
y (8,9)

17

###### Even or Not

In [61]:
is_even = lambda x : x %2 ==0

is_even(7)

False

In [47]:
a = 5
if (lambda a : a%2):
    print ("odd")
else:
    print('even')

else_odd = lambda x : "even" if x%2==0 else "odd"

odd

###### Filter the  even numbers from the given list

In [64]:
l = [ 1,2,3,4,5,6,7,8,9]

# List Comprehension
even_num1 = [ i for i in l if i%2 == 0]
print (even_num1)
# Lambda

b = list (filter ( lambda a : a%2 ==0 , l ))
print (b)
#filter will return a seqence , so convert to list

[2, 4, 6, 8]
[2, 4, 6, 8]

###### Return second character from string

In [59]:
string = lambda str : str [1]
print ( string ("Learning") )

e

###### to sort the list on basis of second character

In [69]:
l = [ "Car" , "Bike", "Aeroplane", "House"]

l1 = sorted ( l , key = lambda str : str [1])  
print (l1)

['Car', 'Aeroplane', 'Bike', 'House']

###### Return Type of an object

###### To check if len of string is >4 or not

In [82]:
y = lambda x : len (x) >4

y("hi")

False

###### to filter the elemnts from a list ith lenght > 4

In [83]:
l = [ "Car" , "Bike", "Aeroplane", "House"]

list ( filter ( lambda x : len (x) > 4, l ))

['Aeroplane', 'House']

###### to take 2 numbers and return their their product

In [56]:
prod = lambda x,y : x*y
print (prod(9,5))

45

###### To generate a new list consisting length of each element

In [86]:
l = [ "Car" , "Bike", "Aeroplane", "House"]
length=[]
for x in l:
    length.append (len(x))
print (length)

a = [ len (x) for x in l]
print (a)

b= list ( map (len , l))
print (b)

[3, 4, 9, 5]
[3, 4, 9, 5]
[3, 4, 9, 5]

#### Map ( function , sequence)

- A new sequence based on existing function

###### a list of squres of first 10 nautral numers using map ()

In [92]:
import math
#Square Root
l= [1,2,3]
b= list ( map (math.sqrt , range ( 1,11)))
print (b)
#Square


c= list ( map ( lambda x : x*x , range ( 1,11)))
print (c)

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Filter

###### To filter the integer elements from below list

In [116]:
l= [ "abc", 1,2,3,4,True]
list ( filter ( lambda x : x.__class__ == int , l ) )

[1, 2, 3, 4]

### Reduce

    Belongs to the module functools
    reduce ( function , sequence)
    function - 2 parameters

###### Multiply all the elements in list

In [117]:
l = [1,3,2,5,6,4]

from functools import reduce

reduce ( lambda x,y : x*y , l)

720

In [124]:
from functools import reduce

l = ["car", "house", "bike"]

reduce (lambda x,y : x+","+ y, l)

help (reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

###### filter the prime numbers from the list

In [142]:
def prime(list1):
    ans=[]
    count=0
    i=1
    for n in list1:
        count=0
        i=1
        while i <= n :
            if(n%i==0):
                count +=1
            if (count >2):
                #ans.append[False]
                print (n, "Not Prime")
                break
            i+=1
        if(count ==2 ):
            print (n, "prime")
            #ans.append[True]
    #return ans

list1= [3,2,5,4,6,8,13,27,19]
prime(list1)

3 prime
2 prime
5 prime
4 Not Prime
6 Not Prime
8 Not Prime
13 prime
27 Not Prime
19 prime

## For - Else Loop

In [144]:
for i in range (10):
    if(i==5):
        print("Terminate")
        break
    print(i)
    i+=1
else:
    print ("Success")
print("Completed")

0
1
2
3
4
Terminate
Completed

In [145]:
for i in range (3):
    if(i==5):
        print("Terminate")
        break
    print(i)
    i+=1
else:
    print ("Success")
print("Completed")

0
1
2
Success
Completed

In [146]:
import math
n=10

for i in range ( 2, math.sqrt(n) + 1):
    if n % i == 0 :
        print ("Not Prime")
        break
else:
        print ("Prime")

TypeError: 'float' object cannot be interpreted as an integer

In [149]:
import math

def is_prime(n):
    var = False
    for i in range ( 2, (int(math.sqrt(n) ) + 1)):
        if n % i == 0 :
            break
    else:
            var = True
    return var

is_prime (10)

False

In [156]:
x= [3,5,7,8]

def Reverse(lst):
     lst.reverse()
     return(lst)

#print( x.Reverse())

x.reverse()