# Python List

### 1. Create your own lists otherwise use the List1 = ['a','b','c']  to operate the below Python list  Operations?

### 1. List Operations
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [6]:
list1 = ['a','b','c'] 
n=int(input("Enter the number of Repetitions:"))
print("Repetition of ",n,"times : " , list1*n)

Enter the number of Repetitions:3
Repetition of  3 times :  ['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

#### 1.B. Concatenation (+):

In [35]:
list1 = [1, 2, 4, 5, 54]
list2 = [23,54,789,9876,876,532,56]
print("Concatenation of both List: ", list1+list2)

Concatenation of both List:  [1, 2, 4, 5, 54, 23, 54, 789, 9876, 876, 532, 56]

#### 1.C. Membership:

In [9]:
#To identify if the list contains "5"
list1=[1,2,3,7,5,8]
print(5 in list1)

True

#### 1.D. Length:

In [12]:
list1=[1,2,3,7,5,8]
print ("Length of the list", list1, "is",len(list1))

Length of the list [1, 2, 3, 7, 5, 8] is 6

#### 1.E. Iteration:

In [11]:
#To print every element in a list using for loop

list1=[1,2,3,7,5,8]

for l in list1:
    print (l)

1
2
3
7
5
8

### 2.1. Create your own lists to operate the below Python List Built-in functions?
##### otherwise use the
            List1 = [1, 2, 4, 5, 54]
            List2 = [23,54,789,9876,876,532,56]
            List3 = [1, 2,76543,289,87654,33,456789876,5432,45678]

    A.	max(list)	   
    B.	min(list)	   
    C.	list(seq)

#### 2.C. max(list):

In [40]:
list1=[1,2,3,7,5,8]
print ("Maximum of the list", list1, "is",max(list1))

Maximum of the list [1, 2, 3, 7, 5, 8] is 8

#### 2.D. min():

In [18]:
list1=[1,2,3,-7,5,8]
print ("Minimum of the list", list1, "is",min(list1))

Minimum of the list [1, 2, 3, -7, 5, 8] is -7

#### 2.E.list:

In [1]:
#Converting a String to List
str1 = "Great Learning"
list1=list(str1)
print("List is :", list1)

tub1=(1,2,4)
list2=list(tub1)
print(list2)

List is : ['G', 'r', 'e', 'a', 't', ' ', 'L', 'e', 'a', 'r', 'n', 'i', 'n', 'g']
[1, 2, 4]

### 3. Create your own lists to operate the below  thePython List built-in methods?
##### otherwise use below list:
           List = ['white','red', 'blue', 'green','blue','yellow', 'black']

    A.	list.append()
    B.	list.clear()	 
    C.	List.copy()	           
    D.	list.count()	       
    E.	list.extend()	  
    F.	list.index()
    G.	list.insert()	
    H.	list.pop()	
    I.	list.remove()	  
    J.	list.reverse()	        
    K.	list.sort()

#### 3.A) append:

In [22]:
list1 = ['white','red', 'blue', 'green','blue','yellow', 'black']
print("List is :", list1)
list1.append('brown')
print("After Appending List is :", list1)

List is : ['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']
After Appending List is : ['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 'brown']

#### 3.B) list.clear():

In [23]:
list1 = ['white','red', 'blue', 'green','blue','yellow', 'black']
print("List is :", list1)
list1.clear()
print("After clearing List is :", list1)

List is : ['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']
After clearing List is : []

#### 3.C) List.copy()

In [24]:
list1 = ['white','red', 'blue', 'green','blue','yellow', 'black']
print("List 1 is :", list1)
list2=list1.copy()
print("List2 is :", list2)

List 1 is : ['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']
List2 is : ['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']

#### 3. D) list.count(obj):

In [26]:
list1 = ['white','red', 'blue', 'green','red,''blue','yellow', 'black','red', 'blue', 'green','red']
print("List  is :", list1)
print("Count of red is:",list1.count("red"))

List  is : ['white', 'red', 'blue', 'green', 'red,blue', 'yellow', 'black', 'red', 'blue', 'green', 'red']
Count of red is: 3

#### 3.E) list.extend(seq):

In [27]:
list1 = ['white','red', 'blue', 'green','blue','yellow', 'black']
print("List 1 is :", list1)
list1.extend(("brown","orange","purple"))
print("After extending List is :", list1)

List 1 is : ['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']
After extending List is : ['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 'brown', 'orange', 'purple']

#### 3.F) list.index(obj):

In [28]:
list1 = ['white','red', 'blue', 'green','red,''blue','yellow', 'black','red', 'blue', 'green','red']
print("List  is :", list1)
print("Index of red is:",list1.index("red"))

List  is : ['white', 'red', 'blue', 'green', 'red,blue', 'yellow', 'black', 'red', 'blue', 'green', 'red']
Index of red is: 1

#### 3.G) list.insert(index, obj):

In [32]:
list1 = ['white','red', 'blue', 'green','blue','yellow', 'black']
print("List 1 is :", list1)
list1.insert(4,"purple")
print("After inserting purple in 5th position List is :", list1)

List 1 is : ['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']
After inserting purple in 5th position List is : ['white', 'red', 'blue', 'green', 'purple', 'blue', 'yellow', 'black']

#### 3.H) list.pop(obj=list[-1]):

In [6]:
list1 = ['white','red', 'blue', 'green','blue','yellow', 'black']
print(list1.pop(len(list1)-1)) # To Pop the last elemrnt
print(list1)

black
['white', 'red', 'blue', 'green', 'blue', 'yellow']

#### 3.I) list.remove(obj):

In [9]:
list1 = ['white','red', 'blue', 'green','blue','yellow', 'black']
print(list1) 
list1.remove("green") # To Pop the last elemrnt
print(list1) # After Removing

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']
['white', 'red', 'blue', 'blue', 'yellow', 'black']

#### 3.j) list.reverse():

In [2]:
list1 = ['white','red', 'blue', 'green','blue','yellow', 'black']
print("List :" ,list1)
print("Reversed List :", list(reversed(list1)))
list1.reverse()
print(list1)

List : ['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']
Reversed List : ['black', 'yellow', 'blue', 'green', 'blue', 'red', 'white']
['black', 'yellow', 'blue', 'green', 'blue', 'red', 'white']

#### 3.K) list.sort([func]):

In [18]:
list1 = ['white','red', 'blue', 'green','blue','yellow', 'black']
print("List :" ,list1)
list1.sort()
print("Sorted List :", list1)

List : ['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']
Sorted List : ['black', 'blue', 'blue', 'green', 'red', 'white', 'yellow']

# Python Tuple

### Create your own Tuple to operate the below Python tuple Operations ?
##### otherwise use the
                Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
                Tuple2 = (1,4,1,3,4,5,65)

### 1. Tuple Operations
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [34]:
tup1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
n=int(input("Enter the number of Repetitions:"))
print("Repetition of ",n,"times : " , tup1*n)

Enter the number of Repetitions:5
Repetition of  5 times :  ('white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 'white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 'white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 'white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 'white', 'red', 'blue', 'green', 'blue', 'yellow', 'black')

#### 1.B. Concatenation (+):

In [36]:
tup1 = (1, 2, 4, 5, 54)
tup2 = (23,54,789,9876,876,532,56)
print("Concatenation of both Tuples: ", tup1+tup2)

Concatenation of both Tuples:  (1, 2, 4, 5, 54, 23, 54, 789, 9876, 876, 532, 56)

#### 1.C) Membership:

In [37]:
#To identify if the list contains "5"
tup1=(1,2,3,7,5,8)
print(5 in tup1)

True

#### 1.D) Length:

In [38]:
tup1=(1,2,3,7,5,8)
print ("Length of the Tuple", tup1, "is",len(tup1))

Length of the Tuple (1, 2, 3, 7, 5, 8) is 6

#### 1.E) Iteration:

In [39]:
#To print every element in a tuple using for loop

tup1=(1,2,3,7,5,8)

for l in tup1:
    print (l)

1
2
3
7
5
8

### 2.Create your own Tuple to operate the below Python tuple inbuilt functions ?
##### otherwise use the
            Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)

         A.	max(Tuple)	   
         B.	min(Tuple)	    
         C.	Tuple(seq)

#### 2.A) max():

In [43]:
tup1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)
print ("Maximum of the tuple", tup1, "is",max(tup1))

Maximum of the tuple (11, 4, 21, 4, 115, 6, 13, 51, 4, 16, 77, 8, 17, 17, 876, 89, 8765, 14, 51, 11, 876, 9, 3456, 4234) is 8765

#### 2.D) min():

In [44]:
tup1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)
print ("Minimum of the tuple", tup1, "is",min(tup1))

Minimum of the tuple (11, 4, 21, 4, 115, 6, 13, 51, 4, 16, 77, 8, 17, 17, 876, 89, 8765, 14, 51, 11, 876, 9, 3456, 4234) is 4

#### 2.E) Tuple:

In [46]:
#Converting a String to Tuple
str1 = "Great Learning"
tup1=tuple(str1)
print("Tuple is :", tup1)

Tuple is : ('G', 'r', 'e', 'a', 't', ' ', 'L', 'e', 'a', 'r', 'n', 'i', 'n', 'g')

# Python Set

In [ ]:
#### Create your own Set to operate the below Python Set Operations ?
#### otherwise use the below set:
        Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
        Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}

### 1. Set Operations
     A. Union 
     B. Intersection
     C. Difference
     D. Symmetric difference

#### 1.A) Union:

In [3]:
set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}
print("Union is", set1 | set2 )
print("Union is", set1.union(set2) )

Union is {1, 3, 4, 5, 6, 7, 8, 9, 6789, 9876, 678, 45, 436, 54, 56, 57, 8765, 65, 787654, 467, 88, 87654, 7654, 876, 887}
Union is {1, 3, 4, 5, 6, 7, 8, 9, 6789, 9876, 678, 45, 436, 54, 56, 57, 8765, 65, 787654, 467, 88, 87654, 7654, 876, 887}

#### 1.B. Intersection

In [4]:
print("Intersection is", set1 & set2 )
print("Intersection is", set1.intersection(set2) )

Intersection is {4, 5, 6, 7, 8, 9, 876}
Intersection is {4, 5, 6, 7, 8, 9, 876}

#### 1.C. Difference

In [7]:
print("Difference between set 1 and set 2", set1 - set2)
print ( set1.difference(set2))

print("Difference between set 2 and set 1", set2 - set1)
print ( set2.difference(set1))

Difference between set 1 and set 2 {1, 3, 787654, 87654, 436, 9876, 54, 56}
{1, 3, 787654, 87654, 436, 9876, 54, 56}
Difference between set 2 and set 1 {65, 6789, 678, 7654, 45, 467, 887, 88, 57, 8765}
{65, 6789, 678, 7654, 45, 467, 887, 88, 57, 8765}

####  1.D. Symmetric difference:

In [5]:
#equal to the union of set 1 and set 2. But without the intersection between the two.

print ( set1.symmetric_difference(set2))

print(set1^set2)

{65, 1, 3, 787654, 6789, 467, 9876, 88, 7654, 678, 87654, 45, 436, 54, 887, 56, 57, 8765}
{65, 1, 3, 787654, 6789, 467, 9876, 88, 7654, 678, 87654, 45, 436, 54, 887, 56, 57, 8765}

# Python Dictionary

#### Create your own Dictionary to operate the below Python Built-in Dictionary functions
#### otherwise use the below Dictionary:
                           Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

    A.	len(dict)     
    B.	str(dict)     
    C.	type(variable)

#### 1.A) len(dict):

In [19]:
dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
print(len(dictionary))

3

#### 2.B) str(dict):

In [20]:
dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
print(str(dictionary))

{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

#### 1.C) type(variable):

In [2]:
dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

print ( dictionary ['a'] , type (dictionary ['a']))

alpha <class 'str'>

### 2.Create your own Dictionary to operate the below Python Built-in Dictionary methods
#### otherwise use the below Dictionary:

                            dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

    A.	dic.clear()	
    B.	dict.copy()	   
    C.	dict.fromkeys()
    D.  dict.get(key[, value])    	
    E.	dict.items()	
    F.	dict.keys() 	
    G.	dict.setdefault()	
    H.	dict.update()	
    I.	dict.values()

#### 2.A) dic.clear():

In [2]:
d1={ "India": "Rupee" , "USA": "Dollars" , "UK": "GBP", "France": "Euro", "Italy" : "Euro"}
print(d1)
d1.clear()
print(d1)

{'India': 'Rupee', 'USA': 'Dollars', 'UK': 'GBP', 'France': 'Euro', 'Italy': 'Euro'}
{}

#### 2.B) dict.copy():

In [3]:
d1={ "India": "Rupee" , "USA": "Dollars" , "UK": "GBP", "France": "Euro", "Italy" : "Euro"}
d2=d1.copy()
print(d2)

{'India': 'Rupee', 'USA': 'Dollars', 'UK': 'GBP', 'France': 'Euro', 'Italy': 'Euro'}

#### 2.C) dict.fromkeys():

In [4]:
d={ 101 :"Angelin" , 102: "Nive" , 104 : "Kevin"}
d1=dict.fromkeys(d)
print(d1)

d2=dict.fromkeys((1,2,3))
print(d2)

d3=dict.fromkeys(("a","b","c"),10)
print(d3)

{101: None, 102: None, 104: None}
{1: None, 2: None, 3: None}
{'a': 10, 'b': 10, 'c': 10}

#### 2.D) dict.get(key[, value]) :

In [5]:
d = { "India": "Rupee" , "USA": "Dollars" , "UK": "GBP"}
country=input("Enter Country: ")
print( d.get(country))
print( d.get(country,"Does not Exists in Dictionary"))

Enter Country: india
None
Does not Exists in Dictionary

#### 2.E) dict.items()

In [6]:
d={ 101 :"Angelin" , 102: "Nive" , 104 : "Kevin"}
print(d.items(), type (d.items())) # Returns a sequence of Tubles

dict_values(['Angelin', 'Nive', 'Kevin'])
dict_items([(101, 'Angelin'), (102, 'Nive'), (104, 'Kevin')]) <class 'dict_items'>
{101: 'Angelin', 102: 'Nive', 104: 'Kevin'}

#### 2.F) dict.keys() :

In [7]:
d={ 101 :"Angelin" , 102: "Nive" , 104 : "Kevin"}
print(d.keys(), type (d.keys()))

dict_keys([101, 102, 104]) <class 'dict_keys'>

#### 2.G) dict.setdefault():

In [16]:
d= { 1: "red", 2 : "blue", 3 : "yellow"}
default1 = d.setdefault(3)  # returns the value of a key .If key is not present not, it inserts key with a value
default2 = d.setdefault(4, "orange")

print (d)
print (default1, default2)

{1: 'red', 2: 'blue', 3: 'yellow', 4: 'orange'}
yellow orange

#### 2.H) dict.update():

In [ ]:
d1={ "India": "Rupee" , "USA": "Dollars" , "UK": "GBP", "France": "Euro", "Italy" : "Euro"}
d2={"Japan": "Yen", "Thailand": "Bath"}

d1.update(d2)
d1

 #### 2.L)  dict.values():

In [9]:
d={ 101 :"Angelin" , 102: "Nive" , 104 : "Kevin"}
print(d.values(), type (d.values()))

dict_values(['Angelin', 'Nive', 'Kevin']) <class 'dict_values'>

# Conditional Statements

    1. IF 
    2. IF-ELSE
    3. If...Elif...Else

#### 1. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello"

In [61]:
i=int(input("Enter a number:"))
if(i==10):
    print("Hello")

Enter a number:10
Hello

#### 2. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello", else print "Good Bye"

In [60]:
i=int(input("Enter a number:"))
if(i==10):
    print("Hello")
else:
    print("Good Bye")

Enter a number:16
Good Bye

# While Loop

#### 1. Print Hello World 5 times

In [51]:
i = 1
while i < 6:
  print("Hello World")
  i += 1

Hello World
Hello World
Hello World
Hello World
Hello World

# For Loop

#### 1. Take a list [23,1,0,12,45,-1,46], loop through each element and print it

In [50]:
list1=[23,1,0,12,45,-1,46]
for l in list1:
    print(l)

23
1
0
12
45
-1
46

#### 2. Take a list [1,2,3,4,5,6,7,8], loop through each element and print it. But, use break to come out of the loop after printing the second element

In [55]:
list1=[1,2,3,4,5,6,7,8]
i=1
for l in list1:
  print(l)
  if i == 2:
    break
  i += 1

1
2