- Series
- Data Frame

In [3]:
import pandas as pd

### Series
- Default index value starts from 0
- We can give list 0r tuple
- Series can take a mixed datatype

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html

In [4]:
pd.Series([ 'A' ,'B' ,'C' , 'D'])

0    A
1    B
2    C
3    D
dtype: object

In [5]:
pd.Series( ('A' ,'B' ,'C' , 'D') )

0    A
1    B
2    C
3    D
dtype: object

In [6]:
pd.Series( [1,3,4,8])

0    1
1    3
2    4
3    8
dtype: int64

In [11]:
pd.Series( [ 1,2,"sdf0", "ty", 8.45, -9.3 ])

0       1
1       2
2    sdf0
3      ty
4    8.45
5    -9.3
dtype: object

#### Index Naming

- Can be given as list or tuple
- It can take a mixed value (int,str, float)

In [7]:
pd.Series( ['a' ,'b' ,'c'] , index = [1,2,3] )

1    a
2    b
3    c
dtype: object

In [10]:
pd.Series( ['a' ,'b' ,'c' , 56 ,89 ] , index = ('i','j',3 , 4, 8.5) )

i       a
j       b
3       c
4      56
8.5    89
dtype: object

In [17]:
pd.Series( ['a' ,'b' ,'c'] ,  [1,2,3] )  # Without giving Keyword it works BUT not recommended

1    a
2    b
3    c
dtype: object

#### List of List 
- ValueError: Length of passed values is 2, index implies 3
- Trying to create another column , which is not possible in Series

In [14]:
pd.Series( [['a' ,'b' ,'c'] ,  ['a' ,'b' ,'c']] , index = [1,2,3] )

ValueError: Length of passed values is 2, index implies 3

#### Index/Values

In [26]:
data = pd.Series( ['a' ,'b', 'c', 'j', 'l' ] )
print( data, data.values , data.index ,sep= "\n")

0    a
1    b
2    c
3    j
4    l
dtype: object
['a' 'b' 'c' 'j' 'l']
RangeIndex(start=0, stop=5, step=1)

In [27]:
data = pd.Series( ['a' ,'b', 'c', 'j', 'l' ] , index = (1,2,3,4,5) )
print( data ,data.values , data.index ,sep= "\n")

1    a
2    b
3    c
4    j
5    l
dtype: object
['a' 'b' 'c' 'j' 'l']
Int64Index([1, 2, 3, 4, 5], dtype='int64')

In [28]:
s = pd.Series( ['a' ,'b' ,'c' , 56 ,89 ] , index = ('i','j',3 , 4, 8.5) )

print( s, s.values, s.index,sep ="\n")

i       a
j       b
3       c
4      56
8.5    89
dtype: object
['a' 'b' 'c' 56 89]
Index(['i', 'j', 3, 4, 8.5], dtype='object')

#### Accessing values with the series

- index value
- name of the index
- Both are aplicable only when index is a string . If index is an int , then it will take what we have defined. Not applicable for mixed value also
- If we want multiple value, give them inside a list

In [51]:
s = pd.Series ( ['abc' ,' def' ,'ijk' ,'xyz' ] , index = (1,2,3,4))
s[1]

'abc'

In [49]:
s = pd.Series ( [1,2,3,4]  , index = ['abc' ,'def' ,'ijk' ,'xyz' ]  )
print ( "s ['def'] : " , s ['def'] )
print ( "s[1] : " , s[1] )
print (  "Accessing Multiple Values: ",s [ ['abc', 'xyz'] ])

s ['def'] :  2
s[1] :  2
Accessing Multiple Values:  abc    1
xyz    4
dtype: int64

###### 1. Index : Alphabets , Values: Int  .Get the values through index name and index values

In [53]:
s = pd.Series ( [ 11,12,13,14,15 ] , index = [ 'A', 'B', 'C', 'D', 'E' ] )

In [56]:
print (  s [1] , s['B'])
print (s [4] ,s['E'] )

12 12
15 15

###### 2. With Mixed Value Index

In [59]:
s = pd.Series( ['a' ,'b' ,'c' , 56 ,89 ] , index = ('i','j',3 , 4, 8.5) )

print (s['i'] , s[3] , s[0] )

KeyError: 0

#### Math Operations - 

- Similar to broadcast
- for string concatenation happens

In [64]:
s = pd.Series ( [ 11,12,13,14,15 ] , index = [ 'A', 'B', 'C', 'D', 'E' ] )
print (s +4 , s *4 , s -9 , s/5 , sep = "\n")

A    15
B    16
C    17
D    18
E    19
dtype: int64
A    44
B    48
C    52
D    56
E    60
dtype: int64
A    2
B    3
C    4
D    5
E    6
dtype: int64
A    2.2
B    2.4
C    2.6
D    2.8
E    3.0
dtype: float64

In [66]:
s = pd.Series ( ['abc' ,' def' ,'ijk' ,'xyz' ] , index = (1,2,3,4))
print ( s + 'ghf ')

1     abcghf
2     defghf
3     ijkghf
4     xyzghf
dtype: object

#### Conditional Slicing
- Output will be an Panda Series
-

In [76]:
s = pd.Series ( [ 11,12,13,14,15 ] , index = [ 'A', 'B', 'C', 'D', 'E' ] )
print(s[s>13] ,s >13 ,sep ="\n")

D    14
E    15
dtype: int64
A    False
B    False
C    False
D     True
E     True
dtype: bool

In [73]:
s[s>13].values

array([14, 15], dtype=int64)

In [74]:
s[s>13][0]

14

#### Series from DIctionary:
 - Key - Index
 - Values - Data

In [88]:
data = { "a" : 12 , "b" : 47, "c" : 67 }
pd.Series(data)

a    12
b    47
c    67
dtype: int64

#### DataFrame from Dictionary:
    - Length of all the list must be same
    - Keys will be column name

In [87]:
data = { "Name" : ['A' ,'B' ,'C' ], "Age" : [ 23,21,23] , "Gender" : [ 'M' ,'F' ,'F'] }
pd.DataFrame(data )

  Name  Age Gender
0    A   23      M
1    B   21      F
2    C   23      F

In [89]:
data = { "Name" : ['A'  ], "Age" : [ 23] , "Gender" : [ 'M' ] }
pd.DataFrame(data )

  Name  Age Gender
0    A   23      M

In [92]:
data = { "Name" : 'A', "Age" :  23 , "Gender" :  'M' }
pd.DataFrame(data ,index =[1,2,3] )
# Not advisable

  Name  Age Gender
1    A   23      M
2    A   23      M
3    A   23      M